.button {
  width:98%;
  margin: 1%;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: inset 0 1px 0 0 $white;
  background: linear-gradient(to bottom, $color_gallery_approx 5%, $color_bon_jour_approx 100%);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_gallery_approx', endcolorstr='$color_bon_jour_approx',gradienttype=0);
  background-color: $color_gallery_approx;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 6px;
  border: 1px solid $color_alto_approx;
  display: inline-block;
  cursor: pointer;
  color: $color_tapa_approx;
  font-weight: bold;
  padding: 9px 24px;
  text-decoration: none;
  //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  text-shadow: 0 1px 0 $white;
  &:hover {
    background: linear-gradient(to bottom, $color_bon_jour_approx 5%, $color_gallery_approx 100%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_bon_jour_approx', endcolorstr='$color_gallery_approx',gradienttype=0);
    background-color: $color_bon_jour_approx;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

.cta {
  @extend .button;
  //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: inset 0 1px 0 0 $color_tea_green_approx;
  background: linear-gradient(to bottom, $color_conifer_approx 5%, $color_conifer_approx 100%);
  filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_conifer_approx', endcolorstr='$color_conifer_approx',gradienttype=0);
  background-color: $color_conifer_approx;
  border: 1px solid $color_lima_approx;
  text-shadow: 0 1px 0 $color_sushi_approx;
  color: $white;

  &:hover {
    background: linear-gradient(to bottom, $color_conifer_approx 5%, $color_conifer_approx 100%);
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_conifer_approx', endcolorstr='$color_conifer_approx',gradienttype=0);
    background-color: $color_conifer_approx;
  }
}

.how-to-play {
  @extend .button;
}

.ready {
  @extend .cta;
  font-size: 2em;
  &.submit {
    width: 80%;
    text-align: center;
    margin: 1em 10% 0 10%;
   }
}
