//colors
$white: #ffffff;
$black: #4C4B4B;
$color_gallery_approx: #ededed;
$color_bon_jour_approx: #dfdfdf;
$color_alto_approx: #dcdcdc;
$color_tapa_approx: #777777;



//colors
$color_tea_green_approx: #d9fbbe;
$color_conifer_approx: #b8e356;
$color_lima_approx: #83c41a;
$color_sushi_approx: #86ae47;