//fonts
$regular_font: 'Raleway';
$cursive_font: 'Pacifico';
$bubble_font: 'Chewy';

* {
  font-size: 14px;
  font-family: $regular_font;
  color: $black;
}

.wordmark {
  font-family: $bubble_font;
  font-size: 4em;
  margin: 0;
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
  transform: rotate(-3deg);
}

h1 {
  font-size: 3em;
  margin: 1em 0 0;
}
h2 {
  font-size: 2em;
  margin: 1em 0 0;
}
h3 {
  font-size: 1.5em;
  margin: 0;
}

p {
  margin: 1em 0 2em;
}
