extends layout

block content
  h1.wordmark POPPYCOCK
  button.ready I'm Ready!
  button.how-to-play How To Play
  ul.player-list
    li
      button Waiting...
        i.player.one.fa.fa-gamepad
    li
      button(disabled="disabled") Waiting..
        i.player.two.fa.fa-gamepad
    li
      button(disabled="disabled") Waiting..
        i.player.three.fa.fa-gamepad
    li
      button(disabled="disabled") Waiting..
        i.player.four.fa.fa-gamepad
