extends layout

block content
  h1.welcome POPPYCOCK!
  .how-to-play-wrapper
    button.how-to-play How To Play
  ul.player-list
    li Player 1
    li Player 2
    li Player 3
    li Player 4
  .play-button-wrapper
    button.play Play
