doctype html
html
  head
    title= title
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway|Pacifico|Chewy|Cookie', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/stylesheets/app.css")
  body
    #content
      block content
